* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
   width: 500px;
   margin: 0 auto; 
}

.searchbar {
    display: block;
	width: 100%;
	height: 45px;
	border-radius: 25px;
	padding: 15px;
	border: 1px solid rgb(196, 196, 196);
	outline: none;
}

.navbar-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-items li {
    float: right;
}

.navbar-items li a {
	display: block;
	text-align: center;
	padding: 14px 10px;
	font-size: 13px;
}

.navbar {
    width: 100%;
    height: 50px;
    margin-bottom: 150px;
}

.buttons {
    display: block;
}

.search {
    margin: 30px 5px;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.logo {
    display: block;
}

.footer {
    display: block;
    width: 100%;
    height: 50px;
}

.left-footer-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left-footer-items li {
    float: left;
}

.left-footer-items li a {
    display: block;
	text-align: center;
	padding: 14px 10px;
	font-size: 13px; 
}

.right-footer-items {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

.right-footer-items {
    float: right;
}

.right-footer-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}